stages:
  - dummy
  - build

# Include all subdir pipelines (each service has its own .gitlab-ci.yml)
include:
  - local: 'airflow/.gitlab-ci.yml'
  - local: 'pyspark/.gitlab-ci.yml'

dummy_job:
  stage: dummy
  image: alpine:latest
  before_script: []
  script:
    - echo "Running dummy job because specific files did NOT change"
  rules:
    # 1️⃣ Run during merge request pipelines
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'
      when: always

    # 2️⃣ Run after the MR is merged into main (or your target branch)
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"'
      when: always

    # Default: never run outside MR or merge
    - when: never

  tags:
    - k8s
