include:
  - local: 'ci-templates/docker-build.yml'

build_pyspark:
  extends: .build_template
  variables:
    SUBDIR: "pyspark"
    TAG_VERSION: "4.0.1"
  rules:
    # Run only after merge (push to main)
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"'
      changes: 
        - pyspark/Dockerfile
      when: always
    - when: never