googleapis-common-protos==1.71.0
grpcio==1.75.1
grpcio-status==1.75.1
numpy==2.2.6
pandas==2.3.3
protobuf==6.33.0
py4j==0.10.9.9
pyarrow==21.0.0
pyspark==4.0.1
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
typing_extensions==4.15.0
tzdata==2025.2
